body{
    background:#efefef;
}
.main{
    margin:30px;
    background:white;
}
.navbar-brand{
    float:right;
}
.nav-tabs > li{
    float: right;
}
.content{
    margin-bottom: 8px;
    padding-right: 10px;
}