body{
    background:#efefef;
}
*{
    margin:0px;
    padding:0px;
}
.main{
    margin:30px;
    background:white;
}
.navbar-brand{
    float:right;
}
.nav-tabs > li{
    float: right;
}
.content{
    margin-bottom: 8px;
    padding-right: 10px;
}
.bottom{
    margin-bottom: 70px;
}
ul li{
    list-style-type: none;
}
a:link{
    text-decoration:none;
} /*指正常的未被访问过的链接*/
a:visited{
    text-decoration:none;
} /*指已经访问过的链接*/
a:hover{
    text-decoration:none;
} /*指鼠标在链接*/
a:active{
    text-decoration:none;
} /*指正在点的链接*/
.side{
    border-left:#dddddd 1px solid;
    padding: 0px 20px 0px 30px;
    min-height: 800px;
}