<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>小李社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/static/css/demo.css" rel="stylesheet" />
    <script language="JavaScript" src="/static/js/jQuery.js"></script>
    <script language="JavaScript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="bottom" th:insert="~{header :: nav}"></div>
    <div class="container-fluid main">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div th:if="${#request.getAttribute('error')!=null}" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <span th:text="${#request.getAttribute('error')}"></span>
            </div>
            <h2><span class="glyphicon glyphicon-th-list" style="top:3px;right:5px" aria-hidden="true"></span>
                <span>发现</span></h2>
            <div class="row">
                <ul class="nav nav-tabs" style="margin-bottom: 20px">
                    <li><a href="#settings" data-toggle="tab" style="color: red">消灭零回复</a></li>
                    <li><a href="#recommend" data-toggle="tab">推荐</a></li>
                    <li><a href="#popular" data-toggle="tab">热门</a></li>
                    <li class="active"><a href="#upTodate" data-toggle="tab">最新</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="upTodate">
                        <div th:if="${questions!=null}" th:each="question:${questions.questionDTOList}">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object" th:src="${question.user.getAvatarUrl()}" style="width: 55px;height: 55px;">
                                </a>
                            </div>
                            <div class="media-left media-middle">
                                <h4 class="media-heading"><a th:href="'/problem/'+${question.getId()}"><span th:text="${question.getTitle()}"></span></a></h4>
                                <span th:text="${question.getTag()}"></span> ·
                                <span th:text="${question.getLikeCount()}"></span>人点赞 ·
                                <span th:text="${question.getViewCount()}"></span>人观看 ·
                                <span th:text="${question.getCommentCount()}"></span>人评论
                            </div>
                            <hr>
                        </div>
                        <nav style="text-align: center">
                            <ul class="pagination">
                                <li th:if="${!questions.isFirstPage()}">
                                    <a href="/?page=1" aria-label="Previous">
                                        <span aria-hidden="true">&lt;&lt;</span>
                                    </a>
                                </li>
                                <li th:if="${questions.isPreviousPage()}">
                                    <a th:href="@{/(page=${(questions.page)-1})}">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>
                                <li th:each="page:${questions.pageNum}" th:class="${questions.page==page}?'active':''">
                                    <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                                </li>
                                <li th:if="${questions.isNextPage()}">
                                    <a th:href="@{/(page=${(questions.page)+1})}">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>
                                <li th:if="${!questions.isEndPage()}">
                                    <a th:href="@{/(page=${questions.totalPage})}" aria-label="Next">
                                        <span aria-hidden="true">&gt;&gt;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="tab-pane" id="recommend"></div>
                    <div class="tab-pane" id="popular"></div>
                    <div class="tab-pane" id="settings"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="border-left:#dddddd 1px solid; padding: 0px 20px 0px 30px;">
            <div style="padding-top: 10px;">
                <h3><span style="color: red">new!</span>小李社区资源搜索</h3>
                <img src="">
            </div>
            <div class="row" style="border-bottom:1px solid #dddddd">
                <div style="display: inline-block;">
                    <h4>热门话题</h4>
                </div>
                <div class="pull-right" style="display: inline-block;margin-top: 10px;">
                    <a href="">更多>></a>
                </div>
                <div>
                </div>
            </div>
            <div class="row" style="border-bottom:1px solid #dddddd">
                <div style="display: inline-block">
                    <h4>热门用户</h4>
                </div>
                <div class="pull-right" style="display: inline-block;margin-top: 10px;">
                    <a href="">更多>></a>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>