<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${problems!=null}" th:text="${problems.getTitle()}+'-小李社区'">小李社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/static/css/demo.css" rel="stylesheet" />
    <script language="JavaScript" src="/static/js/jQuery.js"></script>
    <script language="JavaScript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="bottom" th:insert="~{header :: nav}"></div>
    <div class="container-fluid main">
        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-7">
            <div th:if="${problems!=null}" style="margin-top:18px">
                <div>
                    <h4 style="margin-bottom: 8px"><span th:text="${problems.getTitle()}"></span></h4>
                    <span th:text="${problems.getTag()}"></span> |
                    作者 <span th:text="${problems.getUser().getName()}"></span> |
                    阅读数: <span th:text="${problems.getViewCount()}"></span>  |
                    评论数: <span th:text="${problems.getCommentCount()}"></span>&nbsp;
                    <hr>
                </div>
                <div>
                    <p th:text="${problems.getDescription()}">
                    </p>
                </div>
                <hr>
                <span class="glyphicon glyphicon-tag" th:text="${problems.getTag()}"></span>
                <a th:href="'/publish/'+${problems.getId()}">&nbsp;
                    <span class="glyphicon glyphicon-tag" aria-hidden="true">编辑</span>
                </a>

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5" style="border-left:#dddddd 1px solid;">
            <div style="padding-top: 10px;">
                <h5><span>发起人</span></h5>
                <img class="img-circle" th:src="${problems.user.getAvatarUrl()}" style="width: 40px;height: 40px;margin-top: 5px">
                <span th:text="${problems.getUser().getName()}"></span>
            </div>
            <hr>
            <div>
                <ul>
                    <li><a href="#">Elastic如何动态扩大主分片？</a></li>
                    <li><a href="#">有没有Elastic Stack 5.X的中文文档可有参考？</a></li>
                    <li><a href="#">Elastic对类似枚举数据的搜索性能优化</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>